apiVersion: v1
kind: ServiceAccount
metadata:
  name: elastic-operator
  namespace: elastic-system
  labels:
    control-plane: elastic-operator
    app.kubernetes.io/version: "1.3.0"

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: elastic-operator
  labels:
    control-plane: elastic-operator
    app.kubernetes.io/version: "1.3.0"
rules:
  - apiGroups:
      - "authorization.k8s.io"
    resources:
      - subjectaccessreviews
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - pods
      - endpoints
      - events
      - persistentvolumeclaims
      - secrets
      - services
      - configmaps
      - serviceaccounts
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - policy
    resources:
      - poddisruptionbudgets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - elasticsearch.k8s.elastic.co
    resources:
      - elasticsearches
      - elasticsearches/status
      - elasticsearches/finalizers
      - enterpriselicenses
      - enterpriselicenses/status
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - kibana.k8s.elastic.co
    resources:
      - kibanas
      - kibanas/status
      - kibanas/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - apm.k8s.elastic.co
    resources:
      - apmservers
      - apmservers/status
      - apmservers/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - enterprisesearch.k8s.elastic.co
    resources:
      - enterprisesearches
      - enterprisesearches/status
      - enterprisesearches/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - beat.k8s.elastic.co
    resources:
      - beats
      - beats/status
      - beats/finalizers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
  - apiGroups:
      - storage.k8s.io
    resources:
      - storageclasses
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - admissionregistration.k8s.io
    resources:
      - mutatingwebhookconfigurations
      - validatingwebhookconfigurations
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
---
# Source: eck-operator/templates/cluster-roles.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "elastic-operator-view"
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    control-plane: elastic-operator
    app.kubernetes.io/version: "1.3.0"
rules:
  - apiGroups: [ "elasticsearch.k8s.elastic.co" ]
    resources: [ "elasticsearches" ]
    verbs: [ "get", "list", "watch" ]
  - apiGroups: [ "apm.k8s.elastic.co" ]
    resources: [ "apmservers" ]
    verbs: [ "get", "list", "watch" ]
  - apiGroups: [ "kibana.k8s.elastic.co" ]
    resources: [ "kibanas" ]
    verbs: [ "get", "list", "watch" ]
  - apiGroups: [ "enterprisesearch.k8s.elastic.co" ]
    resources: [ "enterprisesearches" ]
    verbs: [ "get", "list", "watch" ]
  - apiGroups: [ "beat.k8s.elastic.co" ]
    resources: [ "beats" ]
    verbs: [ "get", "list", "watch" ]
---
# Source: eck-operator/templates/cluster-roles.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: "elastic-operator-edit"
  labels:
    rbac.authorization.k8s.io/aggregate-to-edit: "true"
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
    control-plane: elastic-operator
    app.kubernetes.io/version: "1.3.0"
rules:
  - apiGroups: [ "elasticsearch.k8s.elastic.co" ]
    resources: [ "elasticsearches" ]
    verbs: [ "create", "delete", "deletecollection", "patch", "update" ]
  - apiGroups: [ "apm.k8s.elastic.co" ]
    resources: [ "apmservers" ]
    verbs: [ "create", "delete", "deletecollection", "patch", "update" ]
  - apiGroups: [ "kibana.k8s.elastic.co" ]
    resources: [ "kibanas" ]
    verbs: [ "create", "delete", "deletecollection", "patch", "update" ]
  - apiGroups: [ "enterprisesearch.k8s.elastic.co" ]
    resources: [ "enterprisesearches" ]
    verbs: [ "create", "delete", "deletecollection", "patch", "update" ]
  - apiGroups: [ "beat.k8s.elastic.co" ]
    resources: [ "beats" ]
    verbs: [ "create", "delete", "deletecollection", "patch", "update" ]
---
# Source: eck-operator/templates/operator-role-binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: elastic-operator
  labels:
    control-plane: elastic-operator
    app.kubernetes.io/version: "1.3.0"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: elastic-operator
subjects:
  - kind: ServiceAccount
    name: elastic-operator
    namespace: elastic-system